.header {
    margin-top: 0;  
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
  
.tittle-header {
    padding-top: 150px;
    text-align: center;
    color: #fff;
    font-size: 48px;
}
  
.about {
    display: flex;
    margin: 40px auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 60%;
}
  
.about img {
    height: 200px;
}
  
.about p {
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}